<!DOCTYPE html>
<head>
    <title>
        SpamBot || Home
    </title>
    <link rel = "stylesheet" href = "static/index.css"/>
</head>
<body>
<center>
    <h1>
        Welcome to the dashboard of SpamBot!
    </h1>
    <img src="https://i.imgur.com/MhbORDd.png" width="150" length="200">
    <h2>
        What is SpamBot?
    </h2>
    SpamBot is a verified Discord bot made with the Pycord library.
    It has fun commands for people of all ages!<br> <hr>
    <a href="https://discord.com/api/oauth2/authorize?client_id=802807839894667266&permissions=261926939895&scope=bot%20applications.commands" class="but1">Invite it here!</a>
    <a href="https://discord.gg/RDJEBw4Z2a" class="but1">Get Support</a>
    <a href="https://namankrocks.gitbook.io/spambot/" class="but1">Read the Docs</a>
    <a href="https://top.gg/bot/802807839894667266" class="but1">Vote here</a>
    <footer>
        <p>Made with love by</p>
        <a href = "https://github.com/namanko">ShadowRanger5</a> & <a href = "https://github.com/TheFarGG">TheFarGG</a>
    </footer>
</center>
</body>